<variant-radios
  class="no-js-hidden"
  data-section="{{ section.id }}"
  data-url="{{ product.url }}"
  {{ block.shopify_attributes }}
> 

{%- for option in product.options_with_values -%}

    {% assign one_variant = false %}
    {% if product.options.size == 1 %}
      {% assign one_variant = true %}
    {% endif%}

    {% assign productVariant = product.variants %}
    {% if option.name contains "Color" %}
       
    {% else %}
    <fieldset class="js product-form__input {% if one_variant == true %} full_width {% endif %}">
      <legend class="form__label">{{ option.name }}</legend>
      {% assign i = 0 %}
      {%- for value in option.values -%}
      {% assign i = i | plus: 1 %}
      {% assign j = i | minus: 1 %}

        <input
          type="radio"
          id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
          name="{{ option.name }}"
          value="{{ value | escape }}"
          form="{{ product_form_id }}"
          {% if option.selected_value == value %}
            checked
          {% endif %}
        >
        <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
          {% if one_variant == true  %}
            {% if value contains 'Subscription' %}
               {% assign first_value = value | split: 'Subscription' | first %}
               <span>{{ first_value }}</span>
               <span class="italic">Subscription</span>
            {% else %}
              <span>{{ value }}</span>
            {% endif %}
            
            {% assign pack_value = value | split: '-' | first %}


             
            <span class="pack_value_price">
              {{ productVariant[j].price | divided_by: pack_value | money }}/Bottle
            </span>
          

            {%- if productVariant[j].compare_at_price %}
            <span class="save_percentage">
              {% assign original_price = productVariant[j].price %}
              {% assign compare_price = productVariant[j].compare_at_price %}
              {% assign save_price = compare_price | minus: original_price | times: 100.0 | divided_by: compare_price %}

              {% comment %}You save {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price }}%{% endcomment %}
              Save {{ save_price | floor }}%
            </span>
            {%- endif -%}
          {% else %}
            <span>{{ value }}</span>
          {% endif %}
        </label>
      {%- endfor -%}
    </fieldset>
    {% endif %}


   
  {%- endfor -%}
  <script type="application/json">
    {{ product.variants | json }}
  </script>
</variant-radios>
